.theme{
    z-index: -1;
  }
  .blur-backdrop-filter{
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  .background-change{
    background-color: #ffffff;
    color: white;
    z-index: 5;
   
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

    
  }
  .background{
    background: none;
    z-index: 5;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }